/* Styles for printing the invoice */
@media print {
  body * {
    visibility: hidden;
  }

  .invoice-content,
  .invoice-content * {
    visibility: visible;
  }

  .invoice-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
  }

  .no-print {
    display: none !important;
  }
}
